<!DOCTYPE html>
<html>
<head>
	<title>Mama Faber's - Results</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../public/css/results.css"></head>
</head>

<body style="background-image: url('../public/images/background.jpg'")>
<br>

<div class="container">
<br>

	<div class="header">
		<div class="logo">
			<a href="/"><img style="margin-left: 8px" src="../public/images/logo.jpg" class="logo logoImg"></a>
		</div>
		
		<div class="search">
			<h2 style="font-weight: bold;margin-bottom:0px">Mama Faber's</h2>
			<h3 style="font-style: italic;">Family Recipe Archive</h3>
			<br>
			
			<form ref="searchForm"
			  	   id="searchForm"
			   action="/search"
			   method="post"
			  enctype="multipart/form-data">
			<fieldset>
				<input value="{{search}}" type="text" class="form-control input-md" id="search" name="searchText"  placeholder="Enter your search query here..." required>

				<select id="filterSelect" name="filterSelect" class="input-md form-control">
					<option value="Any Meal" {{#if buttonVals.any}}selected{{/if}}>Any Meal</option>
					<option value="Breakfast" {{#if buttonVals.breakfast}}selected{{/if}}>Breakfast</option>
					<option value="Lunch" {{#if buttonVals.lunch}}selected{{/if}}>Lunch</option>
					<option value="Dinner" {{#if buttonVals.dinner}}selected{{/if}}>Dinner</option>
					<option value="Dessert" {{#if buttonVals.dessert}}selected{{/if}}>Dessert</option>
					<option value="Other" {{#if buttonVals.other}}selected{{/if}}>Other</option>
				</select>
				<button type="submit" name="searchBtn" class="btn btn-primary btn-md">Search</button><br><br>
				<br>
			</fieldset>
			</form>
		</div>
	</div>
	
	<div class="containerdivNewLine"></div>
	<br>
	<hr>

	<div id="results">
	{{#if fail}} 
		<div class="row no-gutter">
	 		<div class="col-md-1"></div>
	 		<div class="col-md-10">
				<h2 style="font-weight:bold; margin-top:0px" >No results for query:</h2>
				<span style="font-size:1.5em; font-style:italic">"{{search}}"</span>
			</div>
			<div class="col-md-1"></div>
		</div>

		<hr>
		<br><br><br><br><br>
		<br><br><br><br><br>
	{{/if}}

	{{#if items}}
		<div class="row no-gutter">
	 		<div class="col-md-1"></div>
	 		<div class="col-md-10">
				<span style="font-weight:bold; font-size: 1.5em" >Showing results for query:</span><br>
				<span style="font-size:1.5em; font-style:italic">"{{search}}"</span>
			</div>
			<div class="col-md-1"></div>
		</div>
		
		<hr>
	 	{{#each items}}

	 		<div class="row no-gutter"> 
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<h2 style="font-weight:bold">{{inc @index}}. {{this.name}}</h2>
					<span style="font-size: 1.2em">Date Added: {{this.date}}</span><br><br>
					
					<span style="font-weight:bold; font-size: 1.4em">{{this.meal}}</span><br>
					<span style="font-style:italic; font-size:1.2em">Serves {{this.servings}}</span> <br>
					<div class="panel-group">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" href="#collapse{{inc @index}}">Click here to see full recipe for {{this.name}}</a>
					      </h4>
					    </div>
					    <div id="collapse{{inc @index}}" class="panel-collapse collapse">
					      <div class="panel-body">{{this.prep}}</div>
					    </div>
					  </div>
					</div>
<hr>
{{!-- 					<a href="/download/{{this._id}}"><span style="display: inline; float: right">Download Original File</span></a>
 --}}				</div>
				<div class="col-md-2"></div>
			</div>
	 		
	 	{{/each}}
	 {{/if}}
	<br>
	
</div>
<br>

</body>
</html>