<!DOCTYPE html>
<html>
<head>
	<title>Mama Faber's - Upload</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../public/css/upload.css">
</head>

<body style="background-image: url('../public/images/background.jpg'")>
<br>

<div class="container">
	<br>
	<div class="header">
		<a href="/upload"><button style="margin-right: 10px; display:inline; float: right" type="button" class="btn btn-default btn-md">Upload</button></a>
		<a href="/logout"><button style="margin-right: 10px; display:inline; float: right" type="button" class="btn btn-danger btn-md">Log Out</button></a>
		<div class="logo">
			
		<a href="/"><img style="margin-left: 8px" src="../public/images/logo.jpg" class="logo logoImg"></a>
		</div>
		
		<div class="search">
			<h2 style="font-weight: bold;margin-bottom:0px">Mama Faber's</h2>
			<h3 style="font-style: italic;">Family Recipe Archive</h3>
			<br>

			<form ref="searchForm"
			  	   id="searchForm"
			   action="/search"
			   method="post"
			  enctype="multipart/form-data">
			<fieldset>
				<input type="text" class="form-control input-md" id="search" name="searchText"  placeholder="Enter your search query here..." required>

				<select id="filterSelect" name="filterSelect" class="input-md form-control">
						<option value="Any Meal" selected>Any Meal</option>
						<option value="Breakfast">Breakfast</option>
						<option value="Lunch">Lunch</option>
						<option value="Dinner">Dinner</option>
						<option value="Dessert">Dessert</option>
						<option value="Other">Other</option>
				</select>

				<button type="submit" name="searchBtn" class="btn btn-primary btn-md">Search</button><br><br>
				<br>
			</fieldset>
			</form>
		</div>
	</div>
	
	<div class="containerdivNewLine"></div>
	<br>
	<hr>
	<br>
	{{#if redirect}}
		<center>
			<img src="../public/images/success.jpg" alt="success" id="success">
			<h1 style="color:green">File Successfully Uploaded</h1>
			<span style="font-size: 1.5em"><span style="font-weight:bold">Recipe: </span>{{upload.name}}</span><br>
			<span style="font-size: 1.5em"><span style="font-weight:bold">Meal: </span>{{upload.meal}}</span><br>
			<span style="font-size: 1.5em"><span style="font-weight:bold">Servings: </span>{{upload.servings}}</span><br>
			<span style="font-size: 1.5em"><span style="font-weight:bold">Date: </span>{{upload.date}}</span><br>
			<span style="font-size: 1.5em"><span style="font-weight:bold">Preparation: </span>{{upload.prep}}</span><br><hr><br>
		</center>
	{{/if}}

	<div class="upload">
		<form ref='uploadForm' 
      		   id='uploadForm' 
		   action='/upload' 
      	   method='post' 
      	  encType="multipart/form-data">
      	<fieldset>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-4">
					<h2 style="font-weight: bold; margin-bottom: 0px">Upload New Recipe</h2>
					<br>

					<img src="../public/images/addRecipe.jpg" alt="addRecipe" id="addRecipe">
					<br>
        		</div>
				<div class="col-md-4">
					<label for="name">Recipe Name:</label>
					<input type="text" placeholder="Lemon Poppyseed Muffins" name="name" id="name" class="btn-block input-lg" required>
					<br>
					
					<label for="meal">Meal:</label>
					<select id="meal" name="meal" class="input-lg form-control" required>
						<option value="Breakfast" selected>Breakfast</option>
						<option value="Lunch">Lunch</option>
						<option value="Dinner">Dinner</option>
						<option value="Dessert">Dessert</option>
						<option value="Other">Other</option>
					</select>
					<br>
					
					<label for="servings">Servings:</label>
					<input type="text" placeholder="5" name="servings" id="servings" class="btn-block input-lg"  required>	
					<br>
				</div>
				<div class="col-md-2"></div>
			</div>	
			<br>
			<br>
		
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<label for="prep">Preparation Instructions</label>
					<textarea class="form-control input-block input-lg" rows="3" id="prep" name="prep" placeholder="Instructions"  required></textarea>
				</div>
				<div class="col-md-3"></div>
			</div>
			<br>

			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button type="submit" class="btn-block btn-lg btn btn-success" id="upload-btn">Upload</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		</fieldset>
		</form>
		<br><br>
		<br>
	</div>
</div>
<br>

</body>
</html>